{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jairo - About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jairo_website/styles/styles.css' %}">
</head>
<body>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="{% url 'jairo_website:index'%}">Home</a></li>
      <li role="presentation" class="active"><a href="{% url 'jairo_website:about'%}">About</a></li>
      <li role="presentation"><a href="{% url 'jairo_website:projects' %}">Projects</a></li>
      <li role="presentation"><a href="{% url 'jairo_website:memes' %}">Memes</a></li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-left">About me</h2>
                <p>Hello again! My name is Jairo Vera. I recently graduated <em>summa cum laude</em> from the University of Houston with a BS in Computer Science and Mathematics. Throughout my years in college, I realized that I love to learn new things, whether they were algorithms, math formulas, or programming languages. <br><br> I recently stumbled upon the Django and Bootstrap frameworks, so I decided to mess around with them and create this basic website. If this website ever grows beyond its basic form, then I would try to host it someday. For now, the source code is in my GitHub!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-left">Hobbies and Interests</h2>
                <ul>
                    <li>Playing videogames</li>
                    <li>Watching WWE</li>
                    <li>Exercising</li>
                    <li>YouTube</li>
                    <li><a href="{% url 'jairo_website:memes' %}">Memes</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>