{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jairo_website/styles/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Jairo Vera</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'jairo_website/images/Messiah.png' %}"
                     class="img-responsive center-block" alt="P3 Messiah">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-left">About me</h2>
                <p>I am a current undergraduate student at the University of Houston.</p>
            </div>
        </div>
    </div>
</body>
</html>