{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jairo - Projects</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jairo_website/styles/styles.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="{% url 'jairo_website:index'%}">Home</a></li>
      <li role="presentation"><a href="{% url 'jairo_website:about'%}">About</a></li>
      <li role="presentation" class="active"><a href="{% url 'jairo_website:projects' %}">Projects</a></li>
      <li role="presentation"><a href="{% url 'jairo_website:memes' %}">Memes</a></li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Projects</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center">This Website</h2>
                <img src="http://placekitten.com/g/300/300"
                     class="img-responsive center-block" alt="Project 1"
                     data-toggle="modal" data-target="#website">
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Software Design Class</h2>
                <img src="http://placekitten.com/g/300/300"
                     class="img-responsive center-block" alt="Project 2"
                     data-toggle="modal" data-target="#softwareDesign">
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Operating Systems Class</h2>
                <img src="http://placekitten.com/g/300/300"
                     class="img-responsive center-block" alt="Project 3"
                     data-toggle="modal" data-target="#operatingSystems">
            </div>
        </div>
    </div>

    <div class="modal fade" id="website" tabindex="-1" role="dialog" aria-labelledby="websiteLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="websiteLabel">This Website</h4>
                </div>
                <div class="modal-body">
                    <p>This (dummy) website is my first attempt at web development. The Django and Bootstrap frameworks really ease the difficulties of web development. I recommend these frameworks to anyone who wants to start web development!</p>
                    <a href="https://github.com/jairoVera/django_personal_website">Link to GitHub</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="softwareDesign" tabindex="-1" role="dialog"
         aria-labelledby="softwareDesignLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="softwareDesignLabel">Software Design Projects</h4>
                </div>
                <div class="modal-body">
                    <p>I took a software design course while enrolled at the University of Houston. It is my pleasure to say that Venkat Subramaniam taught the course. This course exposed me to Test-Driven Development, software design principles, and software design patterns. These small projects showcase the principles and patterns I learned in the class.</p>
                    <p>No GitHub Link yet :/</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="operatingSystems" tabindex="-1" role="dialog"
         aria-labelledby="operatingSystemsLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="operatingSystemsLabel">Operating Systems Projects</h4>
                </div>
                <div class="modal-body">
                    <p>I took an Operating Systems course while enrolled at the University of Houston. These small projects where the first difficult projects I worked on.</p>
                    <a href="https://github.com/jairoVera/COSC-4330-assignments">Link to GitHub</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>